.u-section-1 .u-sheet-1 {
  min-height: 1594px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -1px auto 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 60px;
}