.u-section-1 .u-sheet-1 {
  min-height: 260px;
}

.u-section-1 .u-image-1 {
  width: 320px;
  height: 163px;
  margin: 42px auto 55px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-1 .u-image-1 {
    width: 229px;
    height: 79px;
    margin-top: 46px;
    margin-bottom: 10px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 468px;
}

.u-section-2 .u-group-1 {
  width: 933px;
  min-height: 435px;
  height: auto;
  margin: 17px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 5px 0 9px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 1px 60px 0 319px;
}

.u-section-2 .u-group-2 {
  width: 355px;
  min-height: 324px;
  height: auto;
  margin: -84px auto 0 -66px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 8px;
}

.u-section-2 .u-image-1 {
  width: 159px;
  height: 159px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 2.25rem;
  margin: -277px 0 0 132px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -22px 213px 0 auto;
  padding: 20px 46px 20px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-2 .u-group-1 {
    width: 775px;
    min-height: 563px;
    margin-right: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 50px;
    margin-left: 226px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -108px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -232px;
    margin-left: 226px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 401px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-2 .u-group-1 {
    min-height: 594px;
    width: 578px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 49px;
    margin-right: 32px;
    margin-left: 159px;
  }

  .u-section-2 .u-group-2 {
    width: 270px;
    min-height: 392px;
    margin-top: -148px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -214px;
    margin-right: 32px;
    margin-left: 156px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
    margin-right: 0;
    margin-left: 311px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-2 .u-group-1 {
    min-height: 835px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    width: 389px;
    min-height: 332px;
    margin-top: 309px;
    margin-right: 71px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -620px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -22px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-2 .u-group-1 {
    min-height: 409px;
    width: 378px;
    margin: 34px -38px 34px auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 300px;
    min-height: 304px;
    margin-top: -28px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-2 .u-image-1 {
    width: 104px;
    height: 104px;
    margin-top: 166px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -297px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 33px;
    padding: 5px 7px 6px 5px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('images/-min-49.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1093px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(255,255,255,1);
  font-size: 3rem;
  margin: 9px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 9px;
  margin-bottom: 45px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 26.6667px));
  min-height: 977px;
  grid-gap: 40px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  min-height: 116px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/photo-1666649507264-0e340834e39a.jpeg'), linear-gradient(to bottom, rgba(187, 133, 225, 1), rgba(187, 133, 225, 1));
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 0px 0px 8px rgba(26,26,26,1);
  margin: 29px -30px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 3.4375rem;
  margin: 23px 136px 0 69px;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: -51px -8px 0 177px;
}

.u-section-3 .u-text-5 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 700;
  margin: 42px 18px 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  margin: 23px auto 0;
  padding: 12px 24px 13px;
}

.u-section-3 .u-group-2 {
  width: 303px;
  min-height: 74px;
  height: auto;
  margin: -20px auto 0 -43px;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 23px 9px 0 auto;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  display: inline !important;
  margin: 0 278px 0 20px;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  min-height: 116px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/photo-1666649507264-0e340834e39a.jpeg'), linear-gradient(to bottom, rgba(187, 133, 225, 1), rgba(187, 133, 225, 1));
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 0px 0px 8px rgba(26,26,26,1);
  margin: 29px -30px 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 3.4375rem;
  margin: 23px 136px 0 69px;
}

.u-section-3 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: -51px -8px 0 177px;
}

.u-section-3 .u-text-9 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 700;
  margin: 42px 18px 0;
}

.u-section-3 .u-btn-4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  margin: 23px auto 0;
  padding: 12px 24px 13px;
}

.u-section-3 .u-group-4 {
  width: 303px;
  min-height: 74px;
  height: auto;
  margin: -20px auto 0 -43px;
}

.u-section-3 .u-btn-5 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 23px 9px 0 auto;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  display: inline !important;
  margin: 0 278px 0 20px;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  min-height: 116px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/photo-1666649507264-0e340834e39a.jpeg'), linear-gradient(to bottom, rgba(187, 133, 225, 1), rgba(187, 133, 225, 1));
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 0px 0px 8px rgba(26,26,26,1);
  margin: 29px -30px 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 3.4375rem;
  margin: 23px 136px 0 69px;
}

.u-section-3 .u-text-12 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: -51px -8px 0 177px;
}

.u-section-3 .u-text-13 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 700;
  margin: 42px 18px 0;
}

.u-section-3 .u-btn-7 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  margin: 23px auto 0;
  padding: 12px 24px 13px;
}

.u-section-3 .u-group-6 {
  width: 303px;
  min-height: 74px;
  height: auto;
  margin: -20px auto 0 -43px;
}

.u-section-3 .u-btn-8 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 23px 9px 0 auto;
  padding: 0;
}

.u-section-3 .u-btn-9 {
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  display: inline !important;
  margin: 0 278px 0 20px;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-10 {
  padding: 0;
}

.u-section-3 .u-image-4 {
  min-height: 116px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/photo-1666649507264-0e340834e39a.jpeg'), linear-gradient(to bottom, rgba(187, 133, 225, 1), rgba(187, 133, 225, 1));
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-11 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 0px 0px 8px rgba(26,26,26,1);
  margin: 29px -30px 0;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  font-size: 3.4375rem;
  margin: 23px 136px 0 69px;
}

.u-section-3 .u-text-16 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: -51px -8px 0 177px;
}

.u-section-3 .u-text-17 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 700;
  margin: 42px 18px 0;
}

.u-section-3 .u-btn-10 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  margin: 23px auto 0;
  padding: 12px 24px 13px;
}

.u-section-3 .u-group-8 {
  width: 303px;
  min-height: 74px;
  height: auto;
  margin: -20px auto 0 -43px;
}

.u-section-3 .u-btn-11 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 23px 9px 0 auto;
  padding: 0;
}

.u-section-3 .u-btn-12 {
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  display: inline !important;
  margin: 0 278px 0 20px;
  padding: 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-13 {
  padding: 0;
}

.u-section-3 .u-image-5 {
  min-height: 116px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/photo-1666649507264-0e340834e39a.jpeg'), linear-gradient(to bottom, rgba(187, 133, 225, 1), rgba(187, 133, 225, 1));
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-14 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-18 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 0px 0px 8px rgba(26,26,26,1);
  margin: 29px -30px 0;
}

.u-section-3 .u-text-19 {
  font-weight: 700;
  font-size: 3.4375rem;
  margin: 23px 136px 0 69px;
}

.u-section-3 .u-text-20 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: -51px -8px 0 177px;
}

.u-section-3 .u-text-21 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 700;
  margin: 42px 18px 0;
}

.u-section-3 .u-btn-13 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  margin: 23px auto 0;
  padding: 12px 24px 13px;
}

.u-section-3 .u-group-10 {
  width: 303px;
  min-height: 74px;
  height: auto;
  margin: -20px auto 0 -43px;
}

.u-section-3 .u-btn-14 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 23px 9px 0 auto;
  padding: 0;
}

.u-section-3 .u-btn-15 {
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  display: inline !important;
  margin: 0 278px 0 20px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 26.666700000000002px));
    min-height: 764px;
  }

  .u-section-3 .u-image-1 {
    height: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-image-2 {
    height: auto;
  }

  .u-section-3 .u-text-6 {
    font-size: 2.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-image-3 {
    height: auto;
  }

  .u-section-3 .u-text-10 {
    font-size: 2.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-image-4 {
    height: auto;
  }

  .u-section-3 .u-text-14 {
    font-size: 2.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-15 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-3 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-8 {
    height: auto;
  }

  .u-section-3 .u-image-5 {
    height: auto;
  }

  .u-section-3 .u-text-18 {
    font-size: 2.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-19 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-3 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-10 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 20.000025px));
    min-height: 1368px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }

  .u-section-3 .u-text-15 {
    margin-right: 0;
  }

  .u-section-3 .u-text-19 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 126px;
    margin-left: 68px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -43px;
    margin-right: -170px;
    margin-left: 170px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 139px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 9px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -41px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 42px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -14px;
  }

  .u-section-3 .u-image-2 {
    background-position: 50% 50%, 50% 50%;
  }

  .u-section-3 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-right: 126px;
    margin-left: 68px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: -43px;
    margin-right: -170px;
    margin-left: 170px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 139px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 9px;
  }

  .u-section-3 .u-group-4 {
    margin-top: -41px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 42px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: -14px;
  }

  .u-section-3 .u-text-10 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 20px;
    margin-right: 126px;
    margin-left: 68px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: -43px;
    margin-right: -170px;
    margin-left: 170px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 139px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-3 .u-btn-7 {
    margin-top: 9px;
  }

  .u-section-3 .u-group-6 {
    margin-top: -41px;
  }

  .u-section-3 .u-btn-8 {
    margin-top: 42px;
  }

  .u-section-3 .u-btn-9 {
    margin-top: -14px;
  }

  .u-section-3 .u-text-14 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-top: 20px;
    margin-right: 126px;
    margin-left: 68px;
  }

  .u-section-3 .u-text-16 {
    width: auto;
    margin-top: -43px;
    margin-right: -170px;
    margin-left: 170px;
  }

  .u-section-3 .u-text-17 {
    width: auto;
    margin-top: 139px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-3 .u-btn-10 {
    margin-top: 9px;
  }

  .u-section-3 .u-group-8 {
    margin-top: -41px;
  }

  .u-section-3 .u-btn-11 {
    margin-top: 42px;
  }

  .u-section-3 .u-btn-12 {
    margin-top: -14px;
  }

  .u-section-3 .u-text-18 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-19 {
    width: auto;
    margin-top: 20px;
    margin-right: 126px;
    margin-left: 68px;
  }

  .u-section-3 .u-text-20 {
    width: auto;
    margin-top: -43px;
    margin-right: -170px;
    margin-left: 170px;
  }

  .u-section-3 .u-text-21 {
    width: auto;
    margin-top: 139px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-3 .u-btn-13 {
    margin-top: 9px;
  }

  .u-section-3 .u-group-10 {
    margin-top: -41px;
  }

  .u-section-3 .u-btn-14 {
    margin-top: 42px;
  }

  .u-section-3 .u-btn-15 {
    margin-top: -14px;
  }
} .u-section-4 {
  min-height: 493px;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 445px;
  margin-top: 14px;
  margin-bottom: 34px;
  margin-left: 0;
  width: 1253px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-custom-html-1 {
    margin-right: calc(((100% - 940px) / 2));
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-custom-html-1 {
    margin-right: calc(((100% - 720px) / 2));
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-custom-html-1 {
    margin-right: calc(((100% - 540px) / 2));
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}