 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 333px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 101px 0 0 29px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 11px 43px 0 92px;
}

.u-section-1 .u-line-1 {
  height: 3px;
  margin-bottom: 39px;
  margin-top: 39px;
  transform-origin: left center;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 691px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 500px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: -28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -71px;
  }
}